<div class="main-content">
    <div class="folder">
        English
    </div>
    <div 
        cdkDropList 
        class="issues"
        (cdkDropListDropped)="drop($event)">
        <block-issue
            *ngFor="let issue of issues" 
            [issue]="issue" 
            (onRemoveIssue)="parentRemoveIssue($event)"
            [cdkDragData]="issue"
            cdkDrag>
        </block-issue>
    </div>
    <div class="block-add-issue">
        <add-issue-input></add-issue-input>
    </div>
</div>

