.main-content{
    background-color: #00BFFF;
    min-height: 753px;
    border-top-left-radius: 8px;
    .name-of-folder{
        font-size: 35px;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom:50px;
        color:white;
    }
    .issues{
        .block-issue{
            
            .issue{
                font-size: 20px;
                padding-left: 20px;
                color: white;
                

            }
        }
    }
}