@import "../../scss/variables.scss";

.main-content{
    background-color: $background-for-block;
    min-height: 725px;
    border-top-left-radius: 7px;
    .folder{
        font-size: 35px;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom:50px;
        color:white;
    }
    .issues{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 504px;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 1px;
    }
    
}
