@model GalleryIndexViewModel


@{ 
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}
<div>
    Gallery index @Model.Seconds
</div>
<div>
    Сегодня @Model.DayOfWeek день недели. @Model.MonthName месяц
</div>