@using Net14.Web.Models.gallery
@model IndexGalleryViewModel

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

@section Scripts{
    <script src="~/js/gallery/galleryIndex.js"></script>
    <script src="~/js/gallery/carusel.js"></script>
}

<div>
    Смотри какие есть кратинки
</div>

<div>
    Карусель будет здесь!
    <div class="carusel">
        <div class="prev-step-2 image">
            <img />
        </div>
        <div class="prev-step-1 image">
            <img />
        </div>
        <div class="current image">
            <img />
        </div>
        <div class="next-step-1 image">
            <img />
        </div>
        <div class="next-step-2 image">
            <img />
        </div>
    </div>
</div>
<div>
    <a href="/Gallery/Index?page=@(Model.Page - 1)">prev</a>
    <a href="/Gallery/Index?page=@(Model.Page + 1)">next</a>
    @foreach (var image in Model.Images)
    {
        <div class="image-block">
            <div>
                <span class="image-link">Show image</span>
                <a href="/Gallery/ShowImage?id=@image.Id">@image.Name</a>
            </div>
            <div class="image-toggle">
                <img src="@image.Url" />
            </div>
        </div>
    }

    <a href="/Gallery/AddImage">Add image</a>
</div>

