@using Net14.Web.Models.ArtImage
@using Net14.Web.Models.gallery
@model List<ImageViewModel>

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

<div>
    Смотри какие есть кратинки
</div>
<div>
    @foreach (var image in Model)
    {
    <div>
        <a href="/Gallery/ShowImage?id=@image.Id">@image.Name</a>
    </div>
    }

    <a href="/Gallery/AddImage">Add image</a>
</div>

