@model SocialUserRegistrationViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/Autorization.css">

<div class="header-autorization">
    <div class="text">Sing up</div>
</div>
<div class="autorization-form-div">
    <form class="hidden-form" asp-action="Registration" asp-controller="SocialAuthentication" asp-antiforgery="true" method="post">
        <div class="inputs-validation">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="inputs-validation-element">
                <span asp-validation-for="Email" class="autorization-validation"></span>
                <input type="text" asp-for="Email" placeholder="Enter Email" />
            </div>
            <div class="inputs-validation-element">
                <span  asp-validation-for="FirstName"class="autorization-validation" ></span>
                <input type="text" asp-for="FirstName" placeholder="Enter firstname" />
            </div>
            <div class="inputs-validation-element">
                <span asp-validation-for="LastName" class="autorization-validation" ></span>
                <input type="text" asp-for="LastName" placeholder="Enter lastname" />
            </div>
            <div class="inputs-validation-element">
                <span asp-validation-for="Age" class="autorization-validation"></span>
                <input type="text" asp-for="Age" placeholder="Enter age" />
            </div>
            <div class="inputs-validation-element">
                <span asp-validation-for="Country" class="autorization-validation" ></span>
                <input type="text" asp-for="Country" placeholder="Enter country" />
            </div>
            <div class="inputs-validation-element">
                <span asp-validation-for="City" class="autorization-validation" ></span>
                <input type="text" asp-for="City" placeholder="Enter city" />
            </div>
            <div class="inputs-validation-element">
                <span class="autorization-validation" asp-validation-for="Password"></span>
                <input type="password" asp-for="Password" placeholder="Enter password" />
            </div>
            <div class="inputs-validation-element">
                <span class="autorization-validation" asp-validation-for="ConfirmPassword"></span>
                <input type="password" asp-for="ConfirmPassword" placeholder="Enter password" />
            </div>
            <div>
                <input type="submit" value="Save" class="find-button-validation" />
            </div>
        </div>
    </form>
</div>

@section scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}