@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}


<div class="box2" > 
        <div class="box3">
           
                Решение
            
        </div>
        
    </div >


    <div>
        <div class="flex">
            <div class="box1 cen-box">

                <a href="#" class="myButton">Обычный</a>
                <a href="#" class="myButton">Инженерный</a>
                <a href="#" class="myButton">Строительный</a>

            </div>

            <div class="cen-gor">
                <div>
                    <div class="cen-box">
                        <a href="#" class="myButton">1</a>
                        <a href="#" class="myButton">2</a>
                        <a href="#" class="myButton">3</a>
    
                    </div>
    
                    <div class="cen-box" >
                        <a href="#" class="myButton">4</a>
                        <a href="#" class="myButton">5</a>
                        <a href="#" class="myButton">6</a>
                    </div>
                    <div class="cen-box">
                        <a href="#" class="myButton">7</a>
                        <a href="#" class="myButton">8</a>
                        <a href="#" class="myButton">9</a>
                    </div>

                </div>
               

            </div>

           
            
        </div>
        <!-- <div class="box2 center">

            <div>
                <img src="назад.png" class="nice-rock" />
                <img src="вперёд.jpg" class="nice-rock" />
            </div>
        </div> -->

    </div>