@using Net14.Web.Models.Calendar
@model NotesViewModel

@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div>
    тут Руслан что-то сделает
</div>
<form action="/Calendar/AddNote" method="post">
    <div>
        Text: @Html.TextBoxFor(x => x.Text)
    </div>
    <div>
        Event date : @Html.TextBoxFor(x => x.EventDate)
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
<div>
    и тут Руслан что-то сделает
</div>

