@using Net14.Web.Models.Calendar
@model AddNoteViewModel

@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<form action="/Calendar/AddNote" method="post">
    <div>
        Name: @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        Text : @Html.TextBoxFor(x => x.Text)
    </div>
    <div>
        Date: @Html.TextBoxFor(x => x.Date)
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
