@model List<string>

@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div style = display:flex>
    @foreach (var num in Model)
    {
        <div style = margin-left:10px>@num </div>
    }
</div>

