@using Net14.Web.Models.Calendar


@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div>
    тут Руслан что-то сделает
</div>
<div>
    <a href="/Calendar/AddNote">Add Notes</a>
    <a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">Test Calendar</a>
    <a href="/Calendar/WatchAllNotes">Watch all notes</a>

</div>
<div>
    и тут Руслан что-то сделает
</div>

