@model List<string>
@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div class="content-block">
                    <div class ="calendar">
                    
                        <div class="calendar-view">
                            <div class="calendar-spawn">

                                <div style = display:flex>
    Hello! 
                                </div>
                            </div>
                        </div>
                        <div class="calendar-notes">
                            <div class ="notes">
                                <span class="myButton">
                                    <div>
                                    <a href="/Calendar/Calendar">Watch calendar</a>
                                </div>
                                </span>
            
                                <span class="myButton">
                                    Пункт2
                                </span>
            
                                <span class="myButton">
                                    Пункт3
                                </span>
            
                                <span class="myButton">
                                    Пункт4
                                </span>
                            </div>  
                        </div>
                    </div>
                </div>


