@using Net14.Web.Models.Calendar


@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div>
   
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Hello, Dear Friend!  
            @User.Identity.Name  
        </div>
        <div>
            <div class="button"><a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">Test Calendar</a></div>
        </div>
    }
    else
    {
        <div class="window">
            <div class="content-left">
            <div class="content-left">
            Hello, Dear Friend! You need to log in or register to use all the features of the calendar.
            </div>
            <div class="first-visit">
                <div class="button"><a href="/Calendar/Registration">Registration</a></div>
                <div class="button"><a href="/Calendar/Autorization">Autorization</a></div>
                <div class="button"><a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">Test Calendar</a></div>
            </div>
            </div>
            <div class="content-right">
                    tipo novosti
            </div>
        </div>
        
       
    }
    
</div>


