@using Net14.Web.Models.Calendar


@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}
<div>
    <div>
        тут Руслан что-то сделает
    </div>
    <div class="ira">
        тест
        <a href="/Calendar/WatchCalendar">Watch Calendar</a>
        <a href="/Calendar/WatchNotes">Watch Notes</a>
        <a href="/Calendar/AddNote">Add Notes</a>
        <a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">Test Calendar</a>

    </div>
    <div>
        и тут Руслан что-то сделает
    </div>
</div>
