@model List<string>
@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div class="content-block">
    <div class ="calendar">
        <div class="calendar-view">
            <div class="calendar-spawn">
                <h3>Что ты тут забыл?</h3>
                <div class="text">
                    Здравствуй, дорогой друг! Раз ты зашел сюда  посмотреть на крутой, красивый, классный календарь,
                    то я должен тебе сообщить, что ты можешь оставлять свои заметки на любую дату (без смс и регистрации!).
                    Просто выбери какую-нибудь из ниже идущих кнопок, что-нибудь обязательно произойдет! Если ты хочешь поддержать
                    разработчика и ждешь обновления сайта с календарем, то есть возможность закинуть свои средства на НАШ счет:               .
                </div>
            </div>
        </div>
        <div class="calendar-notes">
            <div class ="calendar-group">
                <a href="/Calendar/CalendarView" target="_blank">
                    <div class="button">
                        <div><img src="~/images/Calendar/calendar.jpg" class="img-link" /></div>
                        <div class="text">Watch calendar</div>
                     </div>
                 </a>
                 <a href="/Calendar/AddNote" target="_blank">
                    <div class="button">
                        <div><img src="~/images/Calendar/calendar.jpg" class="img-link" /></div>
                        <div class="text">Add note</div>
                     </div>
                 </a>
                 <a href="/Calendar/ShowNote" target="_blank">
                    <div class="button">
                        <div><img src="~/images/Calendar/calendar.jpg" class="img-link" /></div>
                        <div class="text">Watch notes</div>
                     </div>
                 </a>
                
            </div>


        </div>
        <div class="text">
                а еще есть такие вот штуки
        </div>

        <div class="another-links">
            <a href="/Calendar/ShowNote" target="_blank">
                    <div class="button">
                        <div><img src="~/images/Calendar/goroz.jpg" class="img-link" /></div>
                        <div class="text">Watch goroskop</div>
                     </div>
            </a>
            <a href="/Calendar/ShowNote" target="_blank">
                    <div class="button">
                        <div><img src="~/images/Calendar/weather.jpg" class="img-link" /></div>
                        <div class="text">Watch weather</div>
                     </div>
            </a>
            
        </div>
    </div>
</div>
                    
                        
                    







 