@using Net14.Web.EfStuff.Repositories
@using Net14.Web.Models.Calendar.Test
@using Net14.Web.Services

@model UserService;

@section Scripts{
    <script src="~/js/Calendar/CalendarGlobalNotifications.js"></script>
}

@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div class="AdminsHello">
    <div>Global Notification</div>
    <div class="messages">

    </div>
    <div>
        <input class="funButton" type="button" value="Click me" />
    </div>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
    <a href="/Calendar/WatchAllNotes">Watch all notes</a>
    }
    <a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">Test Calendar</a>

    
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Welcome!
            @Model.GetCurrent().FirstName
          <div class="navigation-element"><a href="/Calendar/LogOut">LogOut</a></div>
        </div>
    }
    else
    {
       <div>
            please, autorize to see your notes
       <a href="/SocialAuthentication/Registration">Registration</a>
       <a class="test" href="/SocialAuthentication/Autorization">Autorization</a> 
       </div>
    }
    
</div>


