@model List<string>
@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div class="content-block">
    <div class ="calendar">
        <div class="calendar-view">
            <div class="calendar-spawn">
                <h3>Что ты тут забыл?</h3>
                <div class="greetings">
                    Здравствуй, дорогой друг! Раз ты зашел сюда  посмотреть на крутой, красивый, классный календарь,
                    то я должен тебе сообщить, что ты можешь оставлять свои заметки на любую дату (без смс и регистрации!).
                    Просто выбери какую-нибудь из ниже идущих кнопок, что-нибудь обязательно произойдет! Если ты хочешь поддержать
                    разработчика и ждешь обновления сайта с календарем, то есть возможность закинуть свои средства на НАШ счет:               .
                </div>
            </div>
        </div>
        <div class="calendar-notes">
            <div class ="notes">
                <div class="yourButton">
                    <div class="watch">
                        <a href="/Calendar/Calendar">Watch calendar</a>
                    </div>
               </div>
                    <div class="yourButton">
                        <a href="/Calendar/AddNote">Add note</a>
                    </div>
                <scum class="yourButton">
                    <a href="/Calendar/ShowNote">Watch notes</a>
                </scum>
            </div> 
            <div class="anotherFunction">
                <div class="yourButton">
                    Погода
                </div> 
                
                <div class="yourButton">
                    Гороскоп
                </div>
            </div>  
        </div>
    </div>
</div>
                    
                        
                    


