@using Net14.Web.Models.Calendar


@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div>
    тут Руслан что-то сделает
</div>
<div>
    тест
    <a href="/Calendar/WatchCalendar">Watch Calendar</a>
    <a href="/Calendar/WatchNotes">Watch Notes</a>
    <a href="/Calendar/AddNote">Add Notes</a>

</div>
<div>
    и тут Руслан что-то сделает
</div>

