@{
    Layout = "/Views/Shared/_LayoutSocialEnglish.cshtml";
}
@section Scripts{
<script src="~/js/EnglishJS/AnimationEnglish.js"></script>
}
<div>
    animations
</div>
<div class="carusel">
    <div class="prev">
        <button>
            prev
        </button>
    </div>
    <div class="prev-step-2">
        <img />
    </div>
    <div class="prev-step-1">
        <img />
    </div>
    <div class="current">
        <img />
    </div>
    <div class="next-step-1">
        <img />
    </div>
    <div class="next-step-2">
        <img />
    </div>
    <div class="next">
        <button>
            next
        </button>
    </div>
</div>