.menu-games {
    display: none;
}
.find-block {
    justify-content: space-evenly;
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    min-height: 203px;
    max-height: 330px;
    width: 213px;
    top: 95px;
    right: 218px;
    background: white;
    font-size: 25px;
    box-shadow: 0.4em 0.4em 5px rgb(122 122 122 / 50%);
    align-items: center;
    z-index: 999999;
    padding-bottom: 14px;
    padding-top: 14px;
}

.game {
    padding: 10px;
    transition: background 0.2s ease;
    text-align: center;
}
.game a {
    color:black;
}
