.block {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.autorization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    width: 432px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email-input, .password-input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit {
    margin-top: 10px;
}

.button-submit {
    display: flex;
    justify-content: center;
}

    .button-submit input {
        background-color: #166fe5;
        font-size: 18px;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 13px;
        width: 100%;
    }

.registration {
    background-color: #00a400;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
    width: 205px;
    display: flex;
    justify-content: center;
}

    .registration a {
        text-decoration: none;
        color: #fff;
    }

.email, .password, .button-submit {
    width: 248px;
}

.autorization form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #166fe5;
    font-size: 49px;
    font-family: Comic Sans MS;
    margin-top: 61px;
    margin-bottom: 20px;
}
