.main-block{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.information-about-discussion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all-discussions {
    display: flex;
    justify-content: center;
}
.topic {
    display: flex;
}
.topic-name, .topic-creator, .topic-rating{
    margin-right:20px;
}
.chat{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
