.word-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background-color: #fff;
    width: 200px;
    height: 156px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin: 10px;
}
.words {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.word{
    font-size:25px;
}
.word-in-russian{
    display:none;
}
.word-in-english{
    cursor:pointer;
}
.description-word {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}