@model List<int>

@{
    Layout = "/Views/Shared/_LayoutShulte.cshtml";
}

@foreach (var number in Model)
{
    <div>
        @number
    </div>
}
<div class="game">
    <div class="borderForTable">
        <table class="shulte5">
            <tbody>
                <tr class="1rad">
                 @for (var i = 0; i < 5; i++)
                 {
                   <td>
                        <button class="button button1" id="icon1">
                            @Model[i]
                        </button>
                   </td>
                        
                 }
                    
                </tr>
                <tr>
                    <td>
                        <button class="button" id="icon6">
                            21
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon7">
                            3
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon8">
                            12
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon9">
                            5
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon10">
                            6
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button" id="icon11">
                            15
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon12">
                            24
                        </button>
                    </td>
                    <td>
                        <button class="button">
                            <div class="eye">
                                <img src="~/images/Shulte/eye.png" class="nice-eye">
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon14">
                            1
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon15">
                            16
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button" id="icon16">
                            22
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon17">
                            13
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon18">
                            23
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon19">
                            8
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon20">
                            2
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button button3" id="icon21">
                            4
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon22">
                            11
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon23">
                            18
                        </button>
                    </td>
                    <td>
                        <button class="button" id="icon24">
                            7
                        </button>
                    </td>
                    <td>
                        <button class="button button4" id="icon25">
                            17
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
