@using Net14.Web.Models.SocialModels.Enums;
@model SocialMessageWithUserViewModel


@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/SocialSingleDialog.css">

<div class="dialog-user-info" data-id=@Model.UserOfDialog.Id>
    <img src=@Model.UserOfDialog.UserPhoto class="user-photo">
    <div class="user-name">
        @Model.UserOfDialog.FirstName @Model.UserOfDialog.LastName
    </div>
</div>
<div class="main-message-container">
    @foreach (var message in Model.Messages)
    {
        @if (message.MessageType == MessageType.Recieved)
        {
            <div class="single-message-recieved">
                <div class="message-text-recieved">
                    @message.Text
                </div>
            </div>
        }
        else
        {
            <div class="single-message-sent">
                <div class="message-text-sent">
                    @message.Text
                </div>
            </div>
        }
    }
</div>

<div class="single-message-sent template">
    <div class="message-text-sent">
    </div>
</div>

<div class="single-message-recieved template">
    <div class="message-text-recieved">
    </div>
</div>

<form class="message-inputs">
    <input type="text" class="message-input">
    <input type="submit" class="message-send-button" value="Send">
</form>
@section Scripts{
    <script src="~/js/SocialJS/SocialMessanger.js"></script>
}
