@using Net14.Web.EfStuff.DbModel.SocialDbModels
@model List<SocialVideoViewModel>

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
@foreach (SocialVideoViewModel video in Model)
{
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model[0].VideoId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}

