<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
</head>

@{
    Layout = "/Views/Shared/_LayoutWebSite.cshtml";
}

<div class="container">
    <div class="image-div">
        <img src="~/images/WebSite/premium-icon-potion-2790362.png">
    </div>
    <div class="potion">
        <span class="potion-name">Зелье</span>
        <div class="recipy">
            <div class="elements">
                Ингредиенты:
                <div class="ingridients">
                    <ul class="list">
                        <li>Рок нефти (то есть нефть)</li>
                        <li>Рыба</li>
                        <li>Клубника</li>
                        <li>Мед</li>
                        <li>Морковь</li>
                        <li>Слюна летучей мыши</li>
                        <li>железная руда</li>
                        <li>яйцо дракона</li>
                        <li class="undefenit">???</li>
                        <li class="undefenit">???</li>
                        <li class="undefenit">???</li>
                        <li class="undefenit">???</li>
                    </ul>
                    <div class="unlock">Узнать ингредиенты</div>
                </div>
                <div class="trytoguess template">
                    <form class="form">
                        <div class="pass">
                            <input type="text" placeholder="Введите пароль" class="password">
                            <input type="submit" class="try" value="Try">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  