@{
    Layout = "/Views/Shared/_LayoutWebSite.cshtml";
}



<div class="body">
    <div class="team">
        <div class="people">
            <a href="/WebSite/ДаняГришковец">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Гришковец.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Даня Гришковец
                        </div>
                        <div class="person-race">
                            Race: Хоббит
                        </div>
                        <div class="person-age">
                            Age: null
                        </div>
                        <div class="person-number">
                            #8
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/КириллПерепечкин">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Перепечкин.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Кирилл Перепечкин
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: 20
                        </div>
                        <div class="person-number">
                            #16
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/КсюшаАфонина">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Афонина.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Ксюша Афонина
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #3
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ДанилаМалец">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Малец.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Данила Малец
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #12
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/НастяПоворотная">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Поворотная.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Настя Поворотная
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #17
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/КириллАнашкин">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Анашкин.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Кирилл Анашкин
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #2
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ДианаБасич">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Басич.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Диана Басич
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #4
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/КсенияБорисенко">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Борисенко.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Ксения Борисенко
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #5
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/АлинаГерасименко">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Герасименко.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Алина Герасименко
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #7
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/КаролинаВиноградова">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Каролина.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Каролина Виноградова
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #6
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ПолинаМоисеева">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Моисеева.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Полина Моисеева
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #15
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/АннаМачульская">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Мачульская.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Анна Мачульская
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #13
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/НикитаСалагуб">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Салагуб.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Никита Салагуб
                        </div>
                        <div class="person-race">
                            Race: Гном
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #19
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ДашаРокало">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Рокало.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Даша Рокало
                        </div>
                        <div class="person-race">
                            Race: Гном
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #18
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/АлинаКрасильникова">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Красильникова.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Алина Красильникова
                        </div>
                        <div class="person-race">
                            Race: Эльф
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #10
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/МельтемШахин">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Мельтем.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Мельтем Шахин
                        </div>
                        <div class="person-race">
                            Race: Троль
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #24
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ВикторияСоловей">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Соловей.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Виктория Соловей
                        </div>
                        <div class="person-race">
                            Race: Троль
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #21
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ПолинаФедюк">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Федюк.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Полина Федюк
                        </div>
                        <div class="person-race">
                            Race: Троль
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #22
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/АндрейЦеховой">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Цеховой.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Андрей Цеховой
                        </div>
                        <div class="person-race">
                            Race: Орк
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #23
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ДаняМинько">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Минько.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Даня Минько
                        </div>
                        <div class="person-race">
                            Race: Орк
                        </div>
                        <div class="person-age">
                            Age: 119
                        </div>
                        <div class="person-number">
                            #14
                        </div>
                    </div>
                </div>
            </a>
            <a href="/WebSite/ИльяАкулёнок">
                <div class="person">
                    <div class="person-photo">
                        <img src="~/images/WebSite/Акулёнок.jpg" />
                    </div>
                    <div class="person-desription">
                        <div class="person-name">
                            Name: Илья Акулёнок
                        </div>
                        <div class="person-race">
                            Race: Орк
                        </div>
                        <div class="person-age">
                            Age: Null
                        </div>
                        <div class="person-number">
                            #1
                        </div>
                    </div>
                </div>
            </a>


        </div>
    </div>
</div>
