@{
    Layout = "/Views/Shared/_LayoutWebSite.cshtml";
}

<div>
    <div class="body1">
        <div class="team1">
            <div class="people1">


                    <div class="person1">
                        <div class="person-photo1">
                            <img src="~/images/WebSite/Соловей.jpg" />
                        </div>
                        <div class="person-desription1">
                            <div class="person-name1">
                                Name: Виктория Соловей
                            </div>
                            <div class="person-race1">
                                Race: Троль
                            </div>
                            <div class="person-age1">
                                Age: null
                            </div>
                            <div class="person-number1">
                                #21
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>