@model List<BooksViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/books.css" />

<div class="books">
    @foreach (BooksViewModel book in Model)
   {
       <a href="/Home/ShowBook?id=@book.Id">@book.Name</a>
   }
</div>

