@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/books.css" />

<div class="books">
    <div class="book">
        1 book
    </div>
    <div class="book">
        2 book
    </div>
</div>