@model List<WordViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="test">
    @foreach (var word in Model)
    {
        @word.EnglishWord
        <div class="anwer">
            <input type="text" />
            <input type="submit" value="check" />
        </div>
        


    }
</div>
