@model List<WordsViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/video.css" />

<div class="block-for-youtube">
    <div class="video">
        <video controls="true">
            <source src="www.youtube.com/watch?v=3bGNuRtlqAQ" type="video/mp4" />
        </video>
    </div>
    <div class="notice">
        <input type="text" />   
        <input type="submit" value="save" />
    </div>
</div>