@model VideoNotesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/video.css" />

<div class="block-for-youtube">
    <div class="video">
        <iframe width="560"
                height="315"
                src="http://www.youtube.com/embed/fxCEcPxUbYA"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
    <div class="add-notes">
        <form action="/Home/AddVideoNote" method="post">
            @Html.TextBoxFor(x => x.Text)
            <input type="submit" value="save" />
        </form>
    </div>
    @*<a href="/Home/ShowMyNotes"> show notes</a>*@
</div>
