@model List<WordViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="test">
    @foreach (var word in Model)
    {
        @word.EnglishWord
        <div class="anwer">
            <form asp-action="CheckWordResult" asp-controller="Tests" >
                <input type="text" name="text" />
                <input type="hidden" name="wordId" value=@word.Id />
                <input type="submit" value="check" />
            </form>
        </div>

    }
</div>
