img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 10px;
}

.text {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 70px;

}
.element {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}