.add-post {
    margin-top: 30px;
    border-radius: 10px;
    color: grey;
    padding: 10px;
    width: 530px;
    min-height: 55px;
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-height: 1000px;
}

    .add-post form {
        width: 100%;
    }
.new-post-photo {
    display: flex;
    align-self: flex-start;
}

.new-post-photo img {
    max-height: 50px;
}

.post-input {
    resize: none;
    overflow: hidden;
    border: none;
    width: 80%;
    height: 20px;
    max-height: 700px;
}

    .post-input:focus {
        border: none;
        outline: none;
    }

.add-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    border: 1px solid grey;
}

    .add-image:hover {
        background: rgba(122,122,122,0.1);
    }

    .add-image img {
        max-width: 20px;
    }

input[type=file] {
    display: none;
}

.add-image-post {
    display:flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 5px;
}

