.add-post {
    margin-top: 30px;
    border-radius: 10px;
    color: grey;
    padding: 10px;
    width: 530px;
    min-height: 55px;
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-height: 1000px;
}


.new-post-photo {
    display: flex;
    align-self: flex-start;
}

.new-post-photo img{
    max-height: 50px;
}

.post-input {
    resize: none;
    overflow: hidden;
    border: none;
    width: 70%;
    height: 20px;
    max-height: 700px;
}

    .post-input:focus {
        border: none;
        outline: none;
    }

.add-image {
    display: flex;
    align-items: center;
    height: 100%;
}

    .add-image img {
        max-width: 20px;
    }