.header-autorization {
    display: flex;
    margin-top: 10px;
    font-size: 22px;
    background: white;
    width: 400px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 5px rgb(122 122 122 / 50%);
    margin-bottom: 17px;

}

.autorization-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 300px;
    max-height: 800px;
    background: white;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
}

.inputs-validation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputs-validation-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 55px;
}
.inputs-validation-element input{
    height: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
}

.inputs-validation input[type=submit] {
    margin-top: 30px;
    margin-bottom: 20px
}
.autorization-validation {
    color: red;
    font-size: 15px;
}

.find-button-validation {
    border-radius: 10px;
    background: white;
    border: 1px solid grey;
    height: 35px;
    width: 100px;
    border: 1px solid rgb(22 222 48);
    color: rgb(22 222 48);
    background: white;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 17px;
}

.find-button-validation:hover {
    color: white;
    background: rgb(22 222 48);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-account {
    margin-top: 50px;
    font-size: 20px;

}
.create-account a {
        color:blueviolet
    }

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
    color: red;
    font-size: 15px;
    margin: 0px;
}

.validation-summary-errors {
    height: 20px;
}

