form {
    display: flex;
    align-items: center;
}
.find-recomendation-element-menu {
    align-items: center;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0.4em 0.4em 5px rgb(122 122 122 / 50%);
    background: white;
    padding: 40px;
    transition: background 0.5s ease;
    width: 550px;
}


.find-user-photo {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.size-for-user {
    font-size: 45px;
}

.text-indent {
    text-indent: 20px;
    max-width: 700px;
    text-indent: 20px;
    max-width: 700px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
}


.usersCenter {
    display: flex;
    justify-content: center;
    width: 550px;
    flex-direction: column;
}

.findUsers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllUsersSearch {
    width: 250px;
    height: 30px;
    border-radius: 92px;
    border: 1px solid grey;
    padding: 5px;
    font-size: 20px;
}

.AllUsersSearchContecher {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.find-button {
    margin-left: 30px;
    border-radius: 92px;
    background: white;
    border: 1px solid grey;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(22 222 48);
    color: rgb(22 222 48);
    background: white;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 17px;
}
.find-button:hover {
    color: white;
    background: rgb(22 222 48);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Conteyner {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name-and-photo {
    display: flex;
    justify-content: start;
}
.place-of-user {
    display: flex;
    justify-content: center;
}

.place-of-user div {
    padding: 5px;
}

.find-recomendation-element-menu:hover {
    background: rgba(122,122,122,0.1);
}

.find-recomendation-element-menu.blocked {
    background: rgba(122,122,122,0.1);
}

.filters {
    margin-top: 20px;
    border-radius: 92px;
    border: 1px solid grey;
    color: grey;
    width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filters-header {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 92px;
}


.filters form {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    display: none;
}

.filters form input {
    border-radius: 92px;
    border: 1px solid grey;
    padding: 7px;
    width: 55%;
    margin-top: 30px;

    
}

.filters form input[type="submit"] {
    border: 1px solid rgb(22 222 48);
    color: rgb(22 222 48);
    background: white;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 17px;
    margin-top: 70px;
}

.filters form input[type="submit"]:hover{
    color: white;
    background: rgb(22 222 48);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.main-container {
    display: flex;
    width: 600px;
}
.friend-status-blocked {
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
    border: 1px solid grey;
    border-radius: 92px;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
}

    .friend-status-blocked:hover {
        color: white;
        background: rgb(255, 40, 40);

    }

.friend-status-unblocked {
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
    border: 1px solid grey;
    border-radius: 92px;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
}


    .friend-status-unblocked:hover {
        background: rgb(22 222 48);
        color: white;
    }

.requested {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    background: rgb(22 222 48);
    height: 36px;
    border: 1px solid grey;
    border-radius: 92px;
    color: white;
    border: 1px solid grey;
}

add-to-friends-button.requested {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    background: rgb(22 222 48);
    height: 36px;
    border: 1px solid grey;
    border-radius: 92px;
    color: white;
    border: 1px solid grey;
}