.footer {
   
    left: 0;
    bottom: 0;
    margin-top: 50px;
    height: 40px;
    border-top: 2px solid grey;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
}

.empty, .name-of-website, .languages {
    min-width: 507.2px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.languages-en, .languages-rus {
    margin-right: 10px;
    cursor: pointer;
}

.languages-en img {
    width: 30px;
    height: 30px;
} 

.languages-rus img {
    width: 30px;
    height: 30px;
}
