.api {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}



.methods-api {
    width: 80%;
    justify-content: center;
    margin-bottom: 50px;
}

.api-name {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}