.element {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin-top: -40px;
}
.hidden-form{
    display: flex;
    flex-direction: column;
}
.form-container input{
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid grey;
}
.text {
    font-size: 45px;
}


