.settings-form {
    padding: 40px;
    background: white;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.settings {
    display: flex;
    flex-direction: column;
}

.input-settings {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px;
}

.property-name {
    width: 100%;
    margin-bottom: 5px;
}
.submit-settings {
    background: white;
    border: 1px solid grey;
    height: 41px;
    width: 100px;
    border: 1px solid rgb(22 222 48);
    border-radius: 92px;
    color: rgb(22 222 48);
    background: white;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 17px;
}

.settings-header {
    font-size: 25px;
}