.groups-header {
    font-size: 25px;
}

.groups-list {    
    align-items: center;
    margin-top: 80px;
    border-radius: 15px;
    box-shadow: 0.4em 0.4em 5px rgb(122 122 122 / 50%);
    background: white;
    padding: 40px;
    transition: background 0.5s ease;
    width: 470px;
}

.photo-group {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.group-photo-container {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 50px;
}

.group-list-element {
    display: flex;
    align-items: center;
}
.descriptions {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}
.group-name {
    font-size: 20px;
}
.find-group {
    width: 340px;
    height: 40px;
    border-radius: 92px;
    border: 1px solid grey;
    padding: 5px;
    font-size: 20px;
    margin-top: 45px;
}


.group-submit {
    margin-left: 10px;
    border-radius: 92px;
    background: white;
    border: 1px solid grey;
    height: 52px;
    width: 100px;
    border: 1px solid rgb(22 222 48);
    color: rgb(22 222 48);
    background: white;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 17px;
}
.group-submit :hover {
    color: white;
    background: rgb(22 222 48);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
form {
    display: block;
}

