.main-block{
    background-color: black;
}
.content-block{
    display: flex;
    background-color:brown
}
.image-block{
    width: 200px;
    border-radius: 5px;
    border: 1px;
    background-color:burlywood
}
.menu-block{
    background-color:blue
}
.headtitle{
    background-color:cadetblue
}
.name {
    
}