@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="myFiles">
    <div>
        <div>
            <div class="mainText">
                <div>
                    Добавление и хранение твоих личных файлов.
                </div>
                <div>
                    Сегодня @DateTime.Now.ToLongDateString(); если ты не знал
                </div>
            </div>
            <div>
                <a href="/SocialFile/AddFiles"><img src="~/images/Social/add_notes.png"/></a>
            </div>
            <div>
                <a href="/SocialFile/AllFiles"><img src="~/images/Social/all_files.png"/></a>
            </div>
         </div>
    </div>
</div>