@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="zagolovok-hostings">
    video hosting
</div>
@{
    var videos = new List<string> 
    { 
        "https://www.youtube.com/embed/WE1frKchHfw", // последнее видео
        "https://www.youtube.com/embed/NIWXkQzQvBg",
        "https://www.youtube.com/embed/I_1mVImvVTY", 
        "https://www.youtube.com/embed/7JahWiNXK4E",
        "https://www.youtube.com/embed/gJXW2ammhVU",
        "https://www.youtube.com/embed/4FWXGDXgEDk", 
        "https://www.youtube.com/embed/fuB7SUIZ96o",
        "https://www.youtube.com/embed/H2EBp-R28lY",
        "https://www.youtube.com/embed/YRFB-1apGJ8",
        "https://www.youtube.com/embed/zPpANYx8mn8",
        "https://www.youtube.com/embed/lEl1jUS1ehc",
        "https://www.youtube.com/embed/ynn8O0ujiSM",
        "https://www.youtube.com/embed/8K2haP9DpIw",
        "https://www.youtube.com/embed/EQurhcNQTsY", 
        "https://www.youtube.com/embed/AJvM8mmqy1U", 
        "https://www.youtube.com/embed/vsd1etxARrA"  //первое видео
    };
    for (var i = 0; i < videos.Count ; i++)
    {
        <div>
            <iframe width="560" 
                height="315" 
                src="@videos[i]" 
                frameborder="0" 
                allowfullscreen></iframe>
        </div>
    }
}


