.links {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

header {
    display: flex;
    align-content: center;
    background-color: white;
    height: 100px;
    border: 2px solid grey;
    padding: 20px;
}

div a {
    padding: 20px;
    font-size: 50px;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
