.body {
    display:flex;
    justify-content:center;
    height: 100%;
    background: #0e0e0e;
}
.team {
    margin-top: 20px;
    max-height: 100%;
    min-width: 90%;
    /*background: linear-gradient(315deg, rgb(33, 33, 37), rgb(58, 156, 56)); -- синий*/
    background-image: linear-gradient(0deg,rgba(53,143,100,.95),rgba(18,109,115,.95));
    backdrop-filter: blur(5px);
}
.people {
    display:flex;
    flex-direction:column;
    margin-top:20px;
    font-size: 20px;
    color: white;
    
}
    .people img {
        width: 160px;
        height: 200px;
        margin-left: 40px;
        margin-top: 40px;
        border-radius: 30%;
        background: #343434;
    }
.person {
    display: flex;
}
.person-desription{
    display:flex;
    flex-direction:column;
}
.person-name {
    margin-top: 42px;
    margin-left: 30px;
    font-size: 30px;
    color: #b1b1b1;
}
.person-race {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
    color: #b1b1b1;
}
.person-age {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
    color: #b1b1b1;
}
.person-number {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 47px;
    color: white;
}








.body1 {
    display: flex;
    justify-content: center;
    height: 648px;
    background: #0e0e0e;
}

.team1 {
    margin-top: 20px;
    max-height: 100%;
    min-width: 90%;
    /*background: linear-gradient(315deg, rgb(33, 33, 37), rgb(58, 156, 56)); -- синий*/
    background-image: linear-gradient(0deg,rgba(53,143,100,.95),rgba(18,109,115,.95));
    backdrop-filter: blur(5px);
}

.people1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.people1 img {
    width: 360px;
    height: 400px;
    margin-left: 95px;
    margin-top: 40px;
    border-radius: 30%;
    background: #343434;
}

.person1 {
    display: flex;
}

.person-desription1 {
    display: flex;
    flex-direction: column;
}

.person-name1 {
    margin-top: 146px;
    margin-left: 170px;
    font-size: 30px;
    color: #b1b1b1;
}

.person-race1 {
    margin-top: 15px;
    margin-left: 171px;
    font-size: 30px;
    color: #b1b1b1;
}

.person-age1 {
    margin-top: 15px;
    margin-left: 173px;
    font-size: 30px;
    color: #b1b1b1;
}

.person-number1 {
    margin-top: 15px;
    margin-left: 174px;
    font-size: 47px;
    color: white;
}






