@using Net14.Web.Models.store
@model List<ProductViewModel>

@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}



    <div>

        <div class="catalogItems">
            @foreach (var product in Model)
            {
                <div class="catalogItem">
                    <a href="/Store/Shoes?id=@product.Id">
                        <div class="catalogImages">
                            <img src="@product.Images" class="catalogProduct" />
                        </div>
                        <div class="catalogMiniTitle">
                            @product.Name
                        </div>
                    </a>
                    <div class="catalogMiniTitle">
                        @product.Price $
                    </div>
                    <div class="buttonCatalog">
                        <span class="buttonCatalogToBasket">
                            <a href="/Store/DeleteProductFromBasket?productId=@product.Id&userId=1">Удалить </a>
                        </span>
                    </div>

                </div>
            }
        </div>
    </div>







@if (Model.Count == 0)
{
    <div class="noBasketItems">

    <h2 class="emptyBasketHeader">YOUR BAG IS EMPTY</h2>
    <p id="emptyBasketMessage"></p>
    <a href="#" id="emptyBasketLink" style="display: none" class="button action"></a>
    <center>
        <a class="emptyBasketLink button action" href="/Store/Index">Continue Shopping</a>
    </center>
</div>
}





