

@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}


    <div class = "noBasketItems">
       
        <h2 class="emptyBasketHeader">YOUR BAG IS EMPTY</h2>
        <p id="emptyBasketMessage"></p>
        <a href="#" id="emptyBasketLink" style="display: none" class="button action"></a>
        <center>
         <a class="emptyBasketLink button action" href="/Store/Index">Continue Shopping</a>
            </center>
    </div>
    

    
  