@model List<ProductViewModel>
@using Net14.Web.Models.store
@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<div>
    Каталог
</div>
<div>
    @foreach (var product in Model)
    {
    <div>
       <img src="@product.Url" class="testCatalogimage"/>
    </div>
    }
     <a href="/Store/AddProduct">Add product</a>

    
</div>