@model List<ProductViewModel>
@using Net14.Web.Models.store
@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<div class="header_catalog ">
<center><h1>Каталог</h1></center>
 <div class="catalogItems">
 @foreach(var product in Model){
     <div class="catalogItem">
                <a href="/Store/Shoes?id=@product.Id"><div class="catalogImages">
                    <img src="@product.Images.First()" class="catalogProduct" />
                </div>
                <div class="catalogMiniTitle">
                   @product.BrandCategories
                </div>
                <div class="catalogMiniTitle">
                   @product.Name
                </div>
                </a>
                 <div class="catalogMiniTitle">
                   @product.Price $
                </div>
                <div class="buttonCatalog">
                    <span>
                     <a class="buttonCatalogToBasket" href="/Store/AddProductToBasket?productId=@product.Id&userId=1">В Корзину </a>  
                    </span>
                </div>
            </div>
            }
</div>       
</div>

 