@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<body>
    <div class="containerIndex">
        <div>
            <img src="/images/Store/IndexRun.jpg" class="indexRun" />
        </div>
        <div>
            <div>

            </div>
            <div>
                <div>

                </div>
                <div>
                    <div>

                    </div>
                    <div>

                    </div>

                </div>

            </div>
        </div>
       
    </div>
</body>