@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<body>
    <div class="content">
        <div class="content-big">
            <img src="~/images/Store/content-big-1.jpg" class="content-big"/>
        </div>
        <div class="content-big">
            <div class="content-medium">
                Medium Picture
            </div>
            <div class="content-medium">
                Medium Picture
            </div>
        </div>
        <div class="content-big">
            <div class="content-small">
                Small Picture
            </div>
            <div class="content-small">
                Small Picture
            </div>
            <div class="content-small">
                Small Picture
            </div>
            <div class="content-small">
                Small Picture
            </div>
        </div>
    </div>
</body>