<link rel="stylesheet" href="~/css/Shulte/Style.css" />
<div class="button-back">
    <a href="/Social/Index">Back</a>
</div>
<div class="button-back">
    <a href="/SocialGames/ShulteGame">Shulte</a>
</div>
