<div class="nav-container">
    <nav>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="container">
            <mat-button-toggle [checked]="this.currentUrl == '/users' || this.currentUrl == '/'" value="bold" class="nav-element" routerLink="/users">Users</mat-button-toggle>
            <mat-button-toggle value="bold" class="nav-element" routerLink="/api" [checked]="this.currentUrl == '/api'">API</mat-button-toggle>
        </mat-button-toggle-group>
    </nav>        
</div>