@section Scripts{
    <script src="~/js/chat.js"></script>
}

<div>
    Smile!
</div>

<div class="chat">
    <div>ChatName</div>
    <div class="messages">

    </div>
    <div>
        <input class="new-message" type="text" placeholder="Say hi"/>
        <input class="sendMessage" type="button" value="Send" />
    </div>
    <div>
        <input class="funButton" type="button" value="Click me" />
    </div>
</div>