@model List<SocialReportViewModel>
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

@section Scripts{
    <script src="~/js/SocialJS/ReportsJs.js"></script>
    <script src="/lib/ProgressCircle/progress-js.js"></script>


}

<link rel="stylesheet" href="~/css/SocialCss/ReportsPage.css">
<div class="reports-header">Reports</div>
<div class="create-new-report" data-userId="@User.Claims.FirstOrDefault(x => x.Type == "Id").Value">Create new</div>

<div class="user-reports">
    @foreach (var report in Model)
    {

        <div class="single-report loading" data-id="@report.Id">
            <div class="report-info">
                <div class="report-url">@report.Name</div>
                <div class="report-date">@report.CreatingDate</div>
            </div>
            <div class="loader" id="loader">
            </div>
        </div>


    }
</div>

<div class="single-report template">
    <div class="report-info">
        <div class="report-url"></div>
        <div class="report-date"></div>
    </div>
</div>

<div class="download template">
    <div class="download-container">
        <img src="~/images/Social/download.png" />
    </div>
</div>