<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Net14.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/gallery.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div>
        Шаблон для галлереи
        <a href="/Home/Index">Начальная страница</a>
        <a href="/Gallery/Index">gallery</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>

   
   
</body>
</html>
