@using Net14.Web.Models.Shulte
@model RandomNumberViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="~/css/Shulte/Obnylenie.css" />
        <link rel="stylesheet" href="~/css/Shulte/Style.css" />
        <title>
            Shulte Table
        </title>
    </head>
    <body>
        <header>
            <div class="text-header">
                Shulte table
            </div>
        </header>
        <div class="game">
            <div class="borderForTable">
                <table class="shulte5">
                    <tbody>
                        <tr class="1rad">
                            <td>
                                <button class="button button1">
                                    19
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    20
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    9
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    10
                                </button>
                            </td>
                            <td>
                                <button class="button button2">
                                    14
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button">
                                    21
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    3
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    12
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    5
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    6
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button">
                                    15
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    24
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    <div class="eye">
                                        <img src="~/images/Shulte/eye.png" class="nice-eye">
                                    </div>
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    1
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    16
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button">
                                    22
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    13
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    23
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    8
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    2
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button button3">
                                   4
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    11
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    18
                                </button>
                            </td>
                            <td>
                                <button class="button">
                                    7
                                </button>
                            </td>
                            <td>
                                <button class="button button4">
                                    17
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </body>
</html>
