<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>English</title>

    <link rel="stylesheet" href="~/css/English/WordsEnglish.css">
    <link rel="stylesheet" href="~/css/English/AnimationEnglish.css">

    <script src="~/js/EnglishJS/WordsEnglish.js"></script>
    <script src="~/js/EnglishJS/AnimationEnglish.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</head>
<body>
    <div class="title">
        English
    </div>
    <div class="links">
        <a href="/SocialEnglish/Animation">Animation</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>

