<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Calendar.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div>
        <a href="/Home/Index">Main</a>
        <a href="/Gallery/Index">gallery</a>
        <a href="/Calendar/Index">Calendar</a>
    </div>
    <div>   
        <h2 align="center" class ="headtitle">Best Calendar in the World</h2>
    </div>
    <div class="main-block">
        <div class ="menu-block">
            <div class="myButton">
                        <a href="/Calendar/Index">Home page</a>
                    </div>

                    <div class="myButton">
                        Пункт2
                    </div>

                    <div class="myButton">
                        Пункт3
                    </div>

                    <div class="myButton">
                        Пункт4
            </div>
                    
        </div>  
                
        <div class="container">
            @RenderBody()
        </div>
    </div>
    
    
   
    @RenderSection("Scripts", required: false)
</body>
</html>
