<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Net14.Web</title>
    <link rel="stylesheet" href="~/css/Store.css?v=2" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div>
        <a href="/Home/Index">home</a>
        <a href="/Store/Admin">Admin panel</a>
    </div>
    <div>
        <div class="header">
            <a href="/Store/Index" class="name">
                <img src="/images/Store/LogoGray.png" class="logo">
                <span class=shopox>ShopOx </span>
            </a>
            <div class="search">
                <div class="search-field">
                    search string
                </div>
                <div class="search-icon">
                    <img src="/images/Store/search.png" class="basket-icon">
                </div>
            </div>
            <div class="account">
                <div>
                    account
                </div>
            </div>
            <div class="basket">
                <a href="/Store/Basket">
                    <img src="/images/Store/basket.png" class="basket-icon">
                </a>
            </div>
        </div>
        <div class="second-header">
            <a href="/Store/Catalog" class="second-header-banner">
                Каталог
            </a>
            <a href="/Store/Shoes" class="second-header-banner">
                Аксессуары
            </a>
            <a href="/Store/Shoes" class="second-header-banner">
                Кнопки
            </a>
            <a href="/Store/Shoes" class="second-header-banner">
                Для
            </a>
            <a href="/Store/Shoes" class="second-header-banner">
                Вида
            </a>
            <a href="/Store/Shoes" class="second-header-banner">
                О нас
            </a>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="pagefooter">

        <div class="leftfooter">
            <div>
                <div>© 2022 TMSNET14 </div>
                <div>Artem,Mark,Anton,Andrey </div>
            </div>
            <div class="adress">
                г.Минск ул.Тимирязева 67 оф.601
            </div>
            <div class="iconfoot">
            </div>
        </div>

    </footer>


</body>
</html>
