@using Net14.Web.Services;
@inject UserService UserService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="~/css/SocialCss/SocialCss.css" />
    <link rel="stylesheet" href="~/css/SocialCss/MyFiles.css" />
    <link rel="stylesheet" href="~/css/SocialCss/findUsers.css">
    <link rel="stylesheet" href="~/css/SocialCss/SettingsSocialCss.css">
    <link rel="stylesheet" href="~/css/SocialCss/AddPost.css">
    <link rel="stylesheet" href="~/css/Shulte/FindGame.css">


    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/js/SocialJS.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="~/images/Social/j.png">
        </div>
        <div class="header-search">
            <input placeholder="Search">
        </div>
        <ul class="navigation">
            <li class="navigation-element"><a href="/Social/Index">Home</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="navigation-element"><a href="/SocialAuthentication/SignOut">Sign out</a></li>


                <li class="navigation-element" id="notification-icon" onclick="location.href='/Social/Notification'" ;>
                    @if (UserService.GetUsersNotifications() > 0)
                    {
                        <span class="badge">@UserService.GetUsersNotifications()</span>

                    }
                </li>
            }
            else
            {
                <li class="navigation-element"><a href="/SocialAuthentication/Autorization">Sign in</a></li>
            }
            <li class="navigation-element" id="settings-icon"></li>
        </ul>
        <div class="settings-div" id="header-settings">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="elements-from-hidden" onclick="location.href='/Social/Settings'">User settings</div>
                <div class="elements-from-hidden" onclick="location.href='/SocialFile/MyFiles';">My Files</div>

            }
            <div class="elements-from-hidden" onclick="location.href='/SocialCurrency/GetCurrency'">Currency</div>
            <div class="elements-from-hidden" id="find-game"> Games </div>
            <div class="menu-games" >
                <div class="find-block">
                    <div class="game">
                        <a href="/SocialGames/ShulteGame"> Shulte</a>
                    </div>
                </div>
            </div>
            <div class="elements-from-hidden" onclick="location.href='/Home/Index';"> Start page </div>
            <div class="elements-from-hidden" onclick="location.href='/SocialVideos/GetVideos';">Learn C#</div>
        </div>
    </header>
    <div class="maincontent">
        <div class="menu-container">
            <div class="menu">
                <div class="buttons-menu">
                    <div class="menu-element" onclick="location.href='/SocialRecomendation/Recomendations';">Recomendation</div>
                    <div class="menu-element" onclick="location.href='/SocialGroups/GetGroups';">Groups</div>
                    <div class="menu-element" onclick="location.href='/Social/ShowAllUsers';">Find user</div>
                    <div class="menu-element" onclick="location.href='/Social/Friends';">Friends</div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="menu-element" onclick="location.href='/SocialAuthentication/SignOut'">Sign out</div>
                    }
                    else
                    {
                        <div class="menu-element" onclick="location.href='/SocialAuthentication/Autorization';">Sign in</div>
                    }
                </div>
                <div class="menu-recomendations-user">
                    <div class="menu-recomendation-title">Recommended accounts</div>
                    <div class="recomendation-element-menu">
                        <div class="user-photo">
                            <img src="https://img.joinfo.com/i/2019/11/800x0/5dda9739ce891.jpg" class="user-photo">
                        </div>
                        <div class="recomendation-name-menu">
                            freddie mercuri
                        </div>
                    </div>
                    <div class="recomendation-element-menu">
                        <div class="user-photo">
                            <img src="https://img.joinfo.com/i/2019/11/800x0/5dda9739ce891.jpg" class="user-photo">
                        </div>
                        <div class="recomendation-name-menu">
                            freddie mercuri
                        </div>
                    </div>
                    <div class="recomendation-element-menu">
                        <div class="user-photo">
                            <img src="https://img.joinfo.com/i/2019/11/800x0/5dda9739ce891.jpg" class="user-photo">
                        </div>
                        <div class="recomendation-name-menu">
                            freddie mercuri
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        TeamSocial 2022
    </footer>
</body>
</html>
