<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Net14.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div>
        <a href="/Home/Index">home</a>
        <a href="/Gallery/Index">gallery</a>
        <a href="/Store/Index">store</a>
        <a href="/Social/Index">social</a>
        <a href="/Shulte/Main">Shulte</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
   
   
</body>
</html>
