<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="~/css/Shulte/Obnylenie.css" />
        <link rel="stylesheet" href="~/css/Shulte/Style.css" />
        <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/Shulte/button.js"></script>
        <title>
            Social Games
        </title>
    </head>
    <body>
        <div class="blocksgame">
            <div class="button-back">
                <a href="/Social/Index">Back</a>
            </div>
            <div class="button-back">
                <a href="/SocialGames/ShulteGame">Shulte</a>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        
    </body>
</html>
