@model List<SocialGroupViewModel>
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<link rel="stylesheet" href="~/css/SocialCss/SocialGroups.css" />
<link rel="stylesheet" href="~/css/SocialCss/RecomendationCss.css" />
<div class="recomendation-header">Recomendation</div>
<div class="select-recomendations">
    <div class="select" onclick="location.href='/SocialRecomendation/Recomendations'">Users</div>
    <div class="select active">Group</div>
</div>

@foreach (SocialGroupViewModel group in Model)
{
    <div class="groups-list" onclick="location.href='@Url.Action("GetSingleGroup", "SocialGroups", new {id = group.Id})'">
        <div class="group-list-element">
            <div class="group-photo-container">
                <img src=@group.PhotoUrl class="photo-group">
            </div>
            <div class="descriptions">
                <div class="group-name">@group.Name</div>
                <div>Cars</div>
                <div>@group.Members.Count members</div>
                <div>
                    @foreach (var tag in group.Tags)
                    {
                        <span>@tag</span>
                    }
                </div>
            </div>
        </div>
    </div>
}




