.cen-box {
    display: flex;
    justify-content: center;
}

.cen-gor {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(49, 22, 22);
}

.center {
    background: rgb(122, 117, 36);
    text-align: center;
    font-size: 50px;
}

.flex {
    display: flex;
}

div.box1 {
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: #090;
    background-color: rgb(136, 119, 46);
    width: 50%;
    height: 100vh;
}

div.box2 {
    height: 200px;
    width: 200px;
    display: flex;
    text-align: center;
    font-size: 14px;
    color: #090;
    background-color: rgb(151, 105, 105);
    margin-right: 10px;
    width: 100%;
    height: 20vh;
    justify-content: center;
}

.myButton {
    box-shadow: inset 0px 34px 0px -15px #b54b3a;
    background-color: #6b5644;
    border: 1px solid #a08e76;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 32px 15px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;
    flex: 1;
    height: 100;
}

    .myButton:hover {
        background-color: #b34332;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


div.box3 {
    border: 1px solid #a59682;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: rgb(219, 230, 219);
    background-color: rgba(68, 71, 224, 0.185);
    width: 50%;
    height: 100vh;
}
