* {
    margin: 0;
    padding: 0
}
.notes {
    width: 300px;
    display:block;
}

.main-block {
    display: flex;
    width: 100%;

}
.container {
    display: contents;
}
.menu-block {
    background-color: #58c4e8;
    display: flex;
    flex-direction: column;
    min-width: 110px;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
    height: auto;
}

    .menu-block .myButton:last-child {
        margin-bottom: 10px;
    }

    .menu-block a {
        display: inline-block;
        width: 100%;
    }

    .menu-block .myButton {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px
    }

.headtitle {
    background-color: #129ac7;
    border: 0px solid black;
    font: 30px "Courier New", monospace;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
}
h2 {
    font: 22px "Courier New", Courier, monospace;
}
.greetings {
    font: 18px "Courier New", Courier, monospace;
}

.myButton {
    text-decoration: none;
    text-align: center;
    padding: 11px 22px;
    border: solid 1px #41545c;
    font: 18px "Courier New", Courier, monospace;
    font-weight: bold;
    color: #000000;
    background: #58c4e8;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

    .myButton:hover {
        width: 100;
        padding: 11px 32px;
        border: solid 1px #41545c;
        font: 18px "Courier New", Courier, monospace;
        font-weight: bold;
        color: #000000;
        background-color: #58c4e8;
        background-image: -moz-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
        background-image: -webkit-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
        background-image: -o-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
        background-image: -ms-linear-gradient(top, #58c4e8 0%,#b8e6f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e6f5', endColorstr='#b8e6f5',GradientType=0 );
        background-image: linear-gradient(top, #58c4e8 0%,#b8e6f5 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }

    .myButton:active {
        padding: 11px 32px;
        border: solid 1px #41545c;
        font: 18px "Courier New", Courier, monospace;
        font-weight: bold;
        color: #000000;
        background-color: #d1f4ff;
        background-image: -moz-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
        background-image: -webkit-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
        background-image: -o-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
        background-image: -ms-linear-gradient(top, #d1f4ff 0%,#dbf6ff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf6ff', endColorstr='#dbf6ff',GradientType=0 );
        background-image: linear-gradient(top, #d1f4ff 0%,#dbf6ff 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }

.buttons .myButton {
    flex: 1;
}

.content-block {
    flex: 1;
    justify-content: space-between;
    background: #E9ECEF;
    flex-wrap: wrap;
    border-right: 2px solid black;
}

.calendar {
    border: 1px;
}

    .calendar .year {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center
    }

.year {
    background: #5A6169;
    border-bottom: 2px solid black;
}

.calendar-view {
    margin: 3 px;
    display: flex;
    justify-content:left;
    align-items: center;
    
    place-content: center;
    justify-content: center;
}



    .notes .myButton {
        flex: 1;
        box-shadow: none;
        border-radius: 0;
        border-right: 2px solid black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

        .notes .myButton:last-child {
            border-right: none;
        }

.month {
    width: 5%;
    cursor: pointer;
    height: 100%;
}

    .month:hover {
        height: 80%
    }

.left {
    cursor: pointer
}

.right {
    cursor: pointer;
    transform: rotate(180deg);
}

    .left:hover, .right:hover {
        background: #a10000;
    }

.y-left:hover, .y-right:hover {
    background: #424549;
}

.y-right {
    cursor: pointer;
    transform: rotate(180deg);
}

.y-left {
    cursor: pointer;
}

.yourButton {
    text-decoration: none;
    text-align: center;
    padding: 30px 30px;
    border: solid 1px #41545c;
    font: 18px "Courier New", Courier, monospace;
    font-weight: bold;
    color: #000000;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.yourButton:hover {
    padding: 30px 30px;
    border: solid 0px #41545c;
    font: 18px "Courier New", Courier, monospace;
    font-weight: bold;
    color: #000000;
    background: #000000;
    background-color: #58c4e8;
    background-image: -moz-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
    background-image: -webkit-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
    background-image: -o-linear-gradient(top, #58c4e8 0%, #b8e6f5 100%);
    background-image: -ms-linear-gradient(top, #58c4e8 0%,#b8e6f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e6f5', endColorstr='#b8e6f5',GradientType=0 );
    background-image: linear-gradient(top, #58c4e8 0%,#b8e6f5 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.yourButton:active {
    padding: 30px 30px;
    border: solid 0px #41545c;
    font: 18px "Courier New", Courier, monospace;
    font-weight: bold;
    color: #000000;
    background-color: #d1f4ff;
    background-image: -moz-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
    background-image: -webkit-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
    background-image: -o-linear-gradient(top, #d1f4ff 0%, #dbf6ff 100%);
    background-image: -ms-linear-gradient(top, #d1f4ff 0%,#dbf6ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf6ff', endColorstr='#dbf6ff',GradientType=0 );
    background-image: linear-gradient(top, #d1f4ff 0%,#dbf6ff 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.note .yourButton{
    display:flex;
}
