body {
    background-color: aqua;
}


.gallery {
    display: flex;
}

.image img {
    max-width: 200px;
}

.image-toggle {
    border: 10px solid red;
}

    .image-toggle img {
        width: 50px;
    }

    .image-toggle.active {
        border: 10px solid green;
    }

        .image-toggle.active img {
            width: 150px;
        }
