body {
    background-color: aqua;
}


.gallery {
    display: flex;
}

.image img {
    max-width: 200px;
}

.image-toggle {
    border: 10px solid red;
}

    .image-toggle img {
        width: 50px;
    }

    .image-toggle.active {
        border: 10px solid green;
    }

        .image-toggle.active img {
            width: 150px;
        }

.desc {
    display: flex;
    flex-wrap: wrap;
}


.girl-image {
    max-width: 150px;
    max-height: 300px;
}

.image-block {
    padding: 5px;
    margin: 3px;
    border: 1px red solid;
    border-radius: 15px;
    width: 160px;
    height: 300px;
}

    .image-block.complete {
        opacity: 0.5;
    }

    .image-block.backside {
        background: aliceblue;
    }

        .image-block.backside .girl-image {
            display: none;
        }

.carusel {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}

    .carusel .image {
        display: flex;
        align-items: center;
    }

        .carusel .image img {
            border-radius: 5px;
            width: 100%;
        }

    .carusel .current {
        width: 200px;
        padding: 5px;
    }

    .carusel .prev-step-1,
    .carusel .next-step-1 {
        width: 100px;
        padding: 3px;
    }

    .carusel .prev-step-2,
    .carusel .next-step-2 {
        width: 1px;
        padding: 0px;
    }


.paginator-button {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
}

    .paginator-button.active {
        font-weight: bold;
    }
