@model List<TopicForDiscussionViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/discussions.css" />

@section Scripts{
<script src="~/js/discussion.js"></script>
}

<div class="all-discussions">

    <div class="chat">
        <div class="messages">
        </div>

        <div>
            <input class="new-message" type="text" />

            <input class="sendMessageButton" type="button" value="Отправить" />
        </div>
    </div>
</div>


