@model IEnumerable<MessageDbModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/messanger.css" />

<div class="all-messanger">
    @foreach (var message in Model)
    {
        <div class="messages">
            <div class="message">
                @message.Id
                @message.Text
            </div>
        </div>
    }
</div>
