@model List<UserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/messanger.css" />

<div class="all-messanger">
    <div class="other-people">
        @foreach (UserViewModel user in Model)
        {
            <div class="user">
                <a href="/Messanger/Messages?id=@user.Id"> @user.FirstName @user.LastName. @user.EnglishLevel</a>
            </div>
            <a href="/Messanger/SendMessage?id=@user.Id"> Send message</a>

        }
    </div>
</div>
