$text-color: #ccc;
$warning-color: rgb(242, 185, 14);

.link-container {
    width: 200px;

    .link {
        border: 1px solid $warning-color;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        display: block;
    }

    .footer {
        background-color: antiquewhite;
    }
}
