@using Net14.Web.Models.ArtImage
@model AddCategoriVewModel

@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}


<div>
    <a href="/ArtImage/AddCarImage">AddCarImage</a>
</div>

<div>
    <a href="/ArtImage/AddMusicImage">AddMusicImage</a>
</div>

<div>
    <a href="/ArtImage/AddAnimeImage">AddAnimeImage</a>
</div>


<form action="/ArtImage/AddImage" method="post">
    <div>
        Name: @Html.TextBoxFor(x => x.Name)
    </div>
   
    <div>
        <input type="submit" value="Создать Категорию" />
    </div>
</form>




