
@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}

Тут у нас будет про категории Машин

<div>
    BMV
</div>


<div>
    MRSD
</div>


<div>
    Nissan
</div>


<div>
    Me
</div>


<div>
    LADA
</div>


<div>
    Audi
</div>