
@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}

Тут у нас будет про категории Аниме 

<div>
    Action
</div>

<div>
    Adventure
</div>
<div>
    Comedy
</div>
<div>
    
Slice of Life
</div>
<div>
    Fantasy
</div>

<div>
    Magic
</div>

<div>
Supernatural
</div>

<div>
Horror
</div>

<div>
Mystery
</div>

<div>
Psychological
</div>

<div>
Romance
</div>

<div>
    Sci-Fi
</div>





