@using Net14.Web.Models.ArtImage
@model List<AddSubCategoriVewModel>

@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}


 <div>
    <a href="/ArtImage/AddSubCategori">AddSubCategori</a>
</div>

