
@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}

Тут у нас будет про категории Музыкы



<div>
    1	Народная музыка
</div>

<div>
    2	Духовная музыка
</div>
<div>
    3	Академическая музыка
</div>
<div>
    4	Популярная музыка
</div>
<div>
    4.1	Фолк-музыка
</div>
<div>
    4.2	Кантри
</div>
<div>
    4.3	Латиноамериканская музыка
</div>
<div>
    4.4	Блюз
</div>
<div>
    4.5	Ритм-н-блюз
</div>
<div>
    4.6	Джаз
</div>
<div>
    4.7	Шансон, романс, авторская песня
</div>
<div>
    4.8	Электронная музыка
</div>
<div>
    4.9	Рок
</div>
<div>
    4.10	Хип-хоп
</div>
<div>
    4.11	Регги
</div>
<div>
    4.12	Поп-музыка
</div>
