@using Net14.Web.Models.ArtImage
@model AddImageVewModel
@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}

Тут у нас будет про категории Аниме 


<form action="/ArtImage/AddImage" method="post">
    <div>
        Name: @Html.TextBoxFor(x => x.Name)
    </div>
   
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>



<div>
    Action
</div>

<div>
    Adventure
</div>
<div>
    Comedy
</div>
<div>
    
Slice of Life
</div>
<div>
    Fantasy
</div>

<div>
    Magic
</div>

<div>
Supernatural
</div>

<div>
Horror
</div>

<div>
Mystery
</div>

<div>
Psychological
</div>

<div>
Romance
</div>

<div>
    Sci-Fi
</div>





