@using Net14.Web.Models.ArtImage



@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}




   <div>
    <a href="/ArtImage/ShowCategories">ShowCategories</a>
</div>


<div>
    Создаём категории
</div>

<div>
    <a href="/ArtImage/AddCategori">AddCategori</a>
</div>





