

@{
    Layout = "/Views/Shared/_LayoutArtImage.cshtml";
}


<div>
    <a href="/ArtImage/AddCarImage">AddCarImage</a>
</div>

<div>
    <a href="/ArtImage/AddMusicImage">AddMusicImage</a>
</div>

<div>
    <a href="/ArtImage/AddAnimeImage">AddAnimeImage</a>
</div>





