@model List<WordViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/showWords.css" />


<div class="words">
    @foreach (var word in Model)
    {
        <div class="word-block">
            <div class="word-in-english word">
                @word.EnglishWord
            </div>
            <div class="word-in-russian word">
                @word.RussianWord
            </div>
            <div class="remove-word">
                <a href="/Dictionary/RemoveWord?id=@word.Id">Уже знаю</a>
            </div>
            <div class="show-word-comments">
                <a href="/Dictionary/ShowWordComments?wordId=@word.Id">Комментарии</a>
            </div>
        </div>
    }
</div>
