
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/AboutUs.css">

<div class="element"> 
    <img src="~/images/Social/voz.jpg" />
    <div class="text">Это Воз - наш технический директор</div>
</div>

<div class="element">
    <img src="~/images/Social/musk.jpg">
    <div class="text">А это, как не сложно догадаться - Маск, наш финансовый директор</div>
</div>


