@model SocialPostViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<div class="add-post">
        <div class="add-post-header">Add Post</div>
        
        <form action="/Social/AddPost" method="post" id="form-add-post">
            <div class="textForInput">
                ImageUrl
            </div>
            <div>
               @Html.TextBoxFor(x => x.ImageUrl)
            </div>
            <div class="textForInput">
                Comment
            </div>
            <div>
                @Html.TextBoxFor(x => x.CommentsOfOwner)
            </div>
            <div>
                <input type="submit" value="Add" class="button-add-post">
            </div>
        </form>
</div>
