
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<div class="add-post">
        <div class="add-post-header">Add Post</div>
        <form action="/Social/Index" method="post" id="form-add-post">
            <input name="Age" placeholder="Enter title">
            <input name="FirstName" placeholder="Url">
            <input name="LastName" placeholder="Text">
            <a href="/Social/Index">
                <input type="submit" value="Add" class="button-add-post">
            </a>
        </form>
</div>