@model List<FilesViewModel>
    @{
        Layout = "/Views/Shared/_LayoutSocial.cshtml";
    }
    <div class="myFiles">
        <div>
            <div>
                <a href="/Social/MyFiles">Назад</a>
            </div>
            <div class="mainText">
                Ваши файлы
            </div>
            <div>
                @foreach (var Files in Model)
                {
                    <div>
                        <a href="/Social/ShowMyFiles?id=@Files.Id">@Files.Name</a>
                    </div>
                }
            </div>
        </div>
    </div>
