
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/Registration.css">
<div class="element">
    <div class="text">
        Sign in
    </div>
</div>
<div class="element">
    <form class="hidden-form form-container">
        Enter E-mail: <input type="email" placeholder="Enter email">
        Enter Password: <input type="password" placeholder="Enter password">
        <input type="submit" value="Come in" onClick='location.href="/Social/ShowPagesProfile"'>
    </form>
</div>