@using Net14.Web.EfStuff.DbModel.SocialDbModels
@model UserSocial; 

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/Registration.css">
<div class="element">
    <div class="text">
        Sign in
    </div>
</div>
<div class="element">
     
    <form class="hidden-form form-container" action="/Social/ShowPagesProfile" method="post">
        Enter E-mail: @Html.TextBoxFor(x => x.Email)    
        Enter Password: @Html.TextBoxFor(x => x.Password)    
        <input type="submit" value="Come in">
    </form>
</div>