@model List<SocialAPIViewModel>

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<link rel="stylesheet" href="~/css/SocialCss/GetAPIs.css">


@foreach (var apiController in Model)
{

    <div class="api">
        <div class="api-name">@apiController.Name</div>
        <div class="methods-api">
            @foreach (var methods in apiController.Methods)
            {

                @foreach (var par in methods.Parametres)
                {
                    <div>@methods.Name (@par.Type @par.Name)</div>

                }
            }
        </div>
    </div>
}


