@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="myFiles">
    <div>
        <div>
            <div class="mainText">
                <div>
                    Добавление и хранение твоих личных файлов.
                </div>
                <div>
                    Сегодня @DateTime.Now.ToLongDateString(); если ты не знал
                </div>
            </div>
            <div>
                <a href="/Social/AddFiles">Добавить файлы</a>
            </div>
            <div>
                <a href="/Social/AllFiles">Посмотерть всe файлы</a>
            </div>
         </div>
    </div>
</div>