
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/Registration.css">
<div class="element">
    <div class="text">
        Sign Up
    </div>
</div>
<div class="element">
    <form class="hidden-form form-container">
        <input type="email" placeholder="Enter email">
        <input type="password" placeholder="Enter password">
        <input type="password" placeholder="Repeat password">
        <input type="submit" value="Submit" onClick='location.href="/Social/ShoWSecnodIndex"'>
    </form>
</div>

