@model FilesUrlViewModel  
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div>
    <a href="/Social/ShowYourFiles">Назад</a>
</div>
<div class="main-content">
    <div class="zagolovok">
        <img src="@Model.Url"/>
    </div>
</div>

