
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}


<div class="Conteyner">
    <div class="AllUsersSearchContecher">
        <input placeholder="Search" class="AllUsersSearch">
    </div>
    @for (int i = 0; i < 5; i++)
    {
        <div class="usersCenter">
            <div class="findUsers">
                <div class="find-recomendation-element-menu">
                    <div class="user-name-and-photo">
                        <div class="find-user-photo">
                            <img src="https://img.joinfo.com/i/2019/11/800x0/5dda9739ce891.jpg" class="find-user-photo">
                        </div>
                        <div class="size-for-user text-indent">
                            freddie mercury
                        </div>
                    </div>
                    <div class="place-of-user">
                        <div>Age: 20</div>
                        <div>Belarus, Minsk</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
