@model AddFilesViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="main-content">
    <div class="zagolovok">
        <div class="text">
            Привет мой дорогой друг, это страница для добавления, и хранения твоих файлов. 
        </div>
        <div class="text">
            Сегодня @DateTime.Now.ToLongDateString(), если ты не знал
        </div>
    </div>
    <div class="forma">
        <div class="AddFiles">
            Добавь новый файл для сохранения 
        </div>
        <form action="/Social/YourFiles" method="post">
                <div>
                    @Html.TextBoxFor(x => x.Name)
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Url)
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Text)
                </div >
                <div>
                    <input type="submit" value="Создать"/>
                </div>
         </form>
            
        <a href="/Social/ShowYourFiles">Посмотерть все картинки</a>
    </div>
</div>