@import "../../scss/variables.scss";

.girl {
    display: flex;
    flex-direction: column;

    width: $girl-block-width;
    height: $girl-block-height;
    @include girl-block-border;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $girl-name-font-size;

        .name{
            display: flex;
            align-items: center;
        }
    }

    .image-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        img {
            max-width: $girl-block-width;
            max-height: 400px;
        }
    }



    &.draft {
        background-color: gray;
    }
}