.block-issue{
    height: 60px;
    width: 1145px;
    border-radius: 3px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    .button-delete{
        margin-left: 10px;
    }
    .issue{
        font-size: 20px;
        padding-left: 20px;
        color: black;
    }
}