@import "../../scss/variables.scss";

.block-issue{
    height: 60px;
    width: 1145px;
    border-radius: 3px;
    background-color: $main-background;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    .issue-information{
        display: flex;
        button{
            margin-left: 10px;
    
        }
        .issue-text{
            font-size: 20px;
            padding-left: 20px;
            color: black;
        }
    }
}