@using Net14.Web.Models.SocialModels
@model CurrencyViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/CurrencyCss.css"> 
<div class="currency-info">
    <div class="currency-result">
        <div>1 @Model.Cur_Abbreviation</div>
        <div>@Model.Cur_OfficialRate BYN</div>
    </div>
    <form action="/SocialCurrency/GetCurrency" method="post" class="form-currency">

        <fieldset>
            <div class="form-sections">
                Currency
                <select name="cur" class="select-currency">

                    <option value="USD">Dollar USA (USD)</option>

                    <option value="EUR">Euro (EUR)</option>

                    <option value="RUB">Russian rubl (RUB)</option>

                    <option value="GBP">Pound Sterling (GBP)</option>

                    <option value="CNY">Yuan China (CNY)</option>

                </select>
            </div>
            <p><input type="submit" value="Submit"  class="submit-currency"/> </p>

        </fieldset>

    </form>
</div>
